.container{
    display: flex;
    flex-wrap: wrap; 

    .header{
        font-size: 1.4rem;
        background-color: #fff;
        height: 7rem;
        border-bottom: var(--line);
        flex:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
    
    .sidebar{
        flex: 0 0 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-Grey-dark-1);
    }
    
    .hotel-view{
        flex: 1;
    } 
}

.detail{
    display: flex;
    background-color: var(--color-Grey-light-1);
    padding: 4.25rem;
    border-bottom: var(--line);
}

.description{
    font-size: 1.4rem;
    background-color: #fff;
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.25rem;
    box-shadow: var(--shadow-light);
}

.user-reviews{
    background-color: yellow;
    flex: 1;
}