
///////////////////////
///logo
.logo {
  height: 3.75rem;
  margin-left: 2rem;
}

///////////////////////
/// search
.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    width: 90%;
    padding: 0.9rem 2rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 100px;
    background-color: var(--color-Grey-light-2);
    margin-right: -3rem;
    transition: all 0.2s;
    &:focus {
      width: 100%;
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-Grey-light-4);
    }
  }

  &__button {
    border: none;
    background-color: var(--color-Grey-light-2);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3);
  }
}

///////////////////////
/// nav
.user-nav {
  align-self: stretch;
  
  display: flex;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-Grey-light-2);
  }

  &__icon-box {
      position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-Grey-dark-2);
  }

  &__nof {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-Primary); 
      color: #fff;
      font-size: 1rem;
      position: absolute;
      top: 1.3rem;
      left: 3rem;
      
      display: flex;
      justify-content: center;
      align-items: center;
  }


  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
}




////////////////////
/// side nav

.side-nav{
    font-size: 1.5rem;
    list-style: none;
    
    &__item{
        
    }
    
    &__link:link,
    &__link:visited{
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        color: var(--color-Grey-light-2);
        
        display: flex;
        align-items: center;
    }
    
    &__link:hover{
        background-color: var(--color-Primary);
    }
    
    &__icon{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

////////////////////
/// legal text

.legal{
  font-size: 1.2rem;  
  text-align: center;
  padding: 2rem;
  color: var(--color-Grey-light-4);
}


////////////////////
/// gallery
.gallery {
    display: flex;
    
    &__photo{
        width: 100%;
        display: block;
    }
}

////////////////////
/// overview
.overview{
    display: flex;
    border-bottom: 1px solid var(--color-Grey-light-2);
    align-items: center;
    
    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem 2rem;
    }
    
    &__stars{
        margin-right: auto;
        display: flex;
    }
    
    &__icon-star,
    &__icon-location{
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--color-Primary);
    }
    
    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    
    &__icon-location{
        margin-right: .5rem;
    }
    
    &__rating{
        background-color: var(--color-Primary);
        align-self: stretch;
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }
    
    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;
    }
    
}


////////////////////
/// button
.btn-inline{
    border: none;
    font-size: inherit;
    color: var(--color-Primary);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;
    
    &:hover{
        color: var(--color-Grey-dark-1);
    }
    
}